@font-face {
  font-family: 'apoka';
  src:  url('fonts/apoka.eot?tjjw4i');
  src:  url('fonts/apoka.eot?tjjw4i#iefix') format('embedded-opentype'),
    url('fonts/apoka.ttf?tjjw4i') format('truetype'),
    url('fonts/apoka.woff?tjjw4i') format('woff'),
    url('fonts/apoka.svg?tjjw4i#apoka') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'apoka' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-space_marines:before {
  content: "\e928";
}
.icon-astra_militarum:before {
  content: "\e91c";
}
.icon-chaos:before {
  content: "\e91d";
}
.icon-tau:before {
  content: "\e929";
}
.icon-eldar:before {
  content: "\e920";
}
.icon-dark_eldar:before {
  content: "\e91f";
}
.icon-orks:before {
  content: "\e926";
}
.icon-necron:before {
  content: "\e923";
}
.icon-tyranid:before {
  content: "\e925";
}
.icon-resource:before {
  content: "\e927";
}
.icon-command:before {
  content: "\e91e";
}
.icon-unique:before {
  content: "\e92a";
}
.icon-cost:before {
  content: "\e900";
}
.icon-blue_planet:before {
  content: "\e901";
}
.icon-apoka8_icon:before {
  content: "\e902";
}
.icon-apoka7_icon:before {
  content: "\e903";
}
.icon-apoka6_icon:before {
  content: "\e904";
}
.icon-apoka5_icon:before {
  content: "\e905";
}
.icon-apoka4_icon:before {
  content: "\e906";
}
.icon-apoka3_icon:before {
  content: "\e907";
}
.icon-apoka2_icon:before {
  content: "\e908";
}
.icon-apoka1_icon:before {
  content: "\e909";
}
.icon-prep_icon:before {
  content: "\e90a";
}
.icon-faith_icon:before {
  content: "\e921";
}
.icon-logo_icon2:before {
  content: "\e922";
}
.icon-neu_icon2:before {
  content: "\e924";
}
